
.menu-item{
    text-decoration: none;
    color: #4a494d;
    padding: 6px 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}
.navBg{
    background-color: #E4FBFF;
}